.submit {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
  }
  
  .submitTitle {
    font-size: 50px;
  }
  
  .submitForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .submitForm > label {
    margin: 10px 0;
  }
  
  .submitInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .submitInput:focus {
    outline: none;
  }
  
  .submitButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  
  .submitRegisterButton {
     position: relative;
     left: 100%;
     bottom: 16%;
    margin-top: 10px;
    width: 100px;
    background-color: teal;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }